

@media only screen and (max-width:767px){
    .card-box{margin: 0px auto!important;
   }

    
    .card-box-2{
        margin: 0px auto!important;
        margin-bottom: 40px;
       }
        

  
    
}



@media only screen and (max-width:991px) {

    .mynavbar{
        
        border-radius: 0px;
        padding-top: 30px;
        border-radius: 15px;
            
    }

    .navbar-toggler{
        margin-right: 10px!important;
    }
    .side-nav{
        
        display: none!important;                   
    }

    .side-nav li{
        margin: 0px auto!important;
    }

    .mid-nav{
        text-align: center;       
    }

    .contact-btn{
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        width: 150px!important;
        margin-bottom: 20px;
    }

    .search-img{
        display: none!important;
    }

    .hidden-item{
        display: block!important;
    }
    .nav-list{
        margin-top: 20px;
        border-radius:0px;
        padding: 10px 0px;
              
    }

    .nav-list li{
       border-bottom: 1px dashed gray;
       
    }

    .nav-list li a:hover{
        background-color:#C1DEE8;
        
     }

    .theme-div{
        background: linear-gradient( -180deg, #C1DEE8 0, transparent 99.04%) !important;
    
    }
    .text-content{
       
        padding-top: 50px;
        text-align: center;
    }
    
    .img-content img{
    
        width: 100%;
        height: 100%;
        margin-top: 70px;
       
    }

    .btn-theme{
     margin-left: 60px;
   
    }

    .myform{
        
        margin: 0px auto!important;
    }

    .theme-slider{
        height: auto!important;
    }

    .theme-div{
        height: auto!important;
    }
    .card-row-2{
        padding: 0px auto!important;
        
        
    }


    .card-slid-txt2 h1{
        text-align: center;

    }
    .card-slid-txt2 p{
    text-align: center;
    }
    .card-box-2{
    margin-left:178px;
    margin-bottom: 20px;
    }

    .bottom-theme{
        height: auto!important;
        
        }

        .theme-bottom-div{
            background: linear-gradient( -180deg, #C1DEE8 0, transparent 99.04%) !important;
        
        }
        




}

@media only screen and (max-width:1200px) {

    .mid-nav{
        padding-left:0px;}

    
}